@model List<UserViewModel>;

<h2>Enlisted users were deleted: </h2>
<table class="table">
		<thead>
			<tr>
				<th>User Full Name</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var user in @Model){
				<tr>
					<td>@user.FullName</td>
				</tr>
			}
		</tbody>
	</table>