@model UserBookReturnViewModel

@using (Html.BeginForm("ReturnBook", "UsersBooks", FormMethod.Post))
{
    <p>
        @Html.LabelFor(model => model.UserEmail)
        <br />
        @Html.TextBoxFor(model => model.UserEmail)
    </p>
    <p>
        @Html.LabelFor(model => model.BookName)
        <br />
        @Html.TextBoxFor(model => model.BookName)
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
}