@model UserFullNameModel

@{
    ViewBag.Title = "Removed users";
}

<h4>
    @Html.DisplayName("Removed UserFullNames:")
</h4>

@Model

@Html.ActionLink("To Users' page", "GetUsersInfo")






@*<hr>
@ViewBag.UserFullName
<hr>*@