<p>@ViewData["Info"]</p>

@using (Html.BeginForm("ReturnBook", "Home", FormMethod.Post))
{
    <p>
        <label>User email</label><br />
        @Html.TextBox("userEmail")
    </p>
    <p>
        <label>Book name</label><br />
        @Html.TextBox("bookName")
    </p>
    <p>
        <input type="submit" value="Return book" />
    </p>
}

